In [3]:
import pandas as pd

df = pd.read_csv('../data/raw/charts.csv') 
df.head()

,title,rank,date,artist,url,region,chart,trend,streams
0,Chantaje (feat. Maluma),1,2017-01-01,Shakira,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,Argentina,top200,SAME_POSITION,253019.0
1,Vente Pa' Ca (feat. Maluma),2,2017-01-01,Ricky Martin,https://open.spotify.com/track/7DM4BPaS7uofFul...,Argentina,top200,MOVE_UP,223988.0
2,Reggaetón Lento (Bailemos),3,2017-01-01,CNCO,https://open.spotify.com/track/3AEZUABDXNtecAO...,Argentina,top200,MOVE_DOWN,210943.0
3,Safari,4,2017-01-01,"J Balvin, Pharrell Williams, BIA, Sky",https://open.spotify.com/track/6rQSrBHf7HlZjtc...,Argentina,top200,SAME_POSITION,173865.0
4,Shaky Shaky,5,2017-01-01,Daddy Yankee,https://open.spotify.com/track/58IL315gMSTD37D...,Argentina,top200,MOVE_UP,153956.0

In [4]:
df.head()
df.tail()      
df.sample(5)  
df.info()   
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26173514 entries, 0 to 26173513
Data columns (total 9 columns):
 #   Column   Dtype
---  ------   -----
 0   title    object
 1   rank     int64
 2   date     object
 3   artist   object
 4   url      object
 5   region   object
 6   chart    object
 7   trend    object
 8   streams  float64
dtypes: float64(1), int64(1), object(7)
memory usage: 1.8+ GB

               rank       streams
count  2.617351e+07  2.032190e+07
mean   8.092314e+01  5.526131e+04
std    5.918601e+01  2.095872e+05
min    1.000000e+00  1.001000e+03
25%    2.900000e+01  3.546000e+03
50%    6.700000e+01  9.565000e+03
75%    1.310000e+02  3.540900e+04
max    2.000000e+02  1.974970e+07

In [5]:
print(f"The DataFrame has {df.shape[0]} rows and {df.shape[1]} columns")

The DataFrame has 26173514 rows and 9 columns

In [1]:
import pandas as pd

# Load your data
df = pd.read_csv('/Users/dejmen/desktop/ironhack/week4/first_project/data/raw/charts.csv')

# First check if 'date' column exists
if 'date' not in df.columns:
    print("Error: 'date' column not found. Available columns are:", df.columns.tolist())
else:
    # Convert to datetime if needed (check current type)
    print("Date column type before conversion:", df['date'].dtype)
    
    try:
        # Convert to datetime
        df['date'] = pd.to_datetime(df['date'])
        
        # Filter for 2021 (correct way - no parentheses after df_2021)
        df_2021 = df[(df['date'] >= '2021-01-01') & 
                    (df['date'] <= '2021-12-31')]
        
  
        print("\nFiltered successfully!")
        print("Rows in 2021 data:", len(df_2021))
        print("\nFirst few rows:")
        display(df_2021.head())  # display() works better in Jupyter than print
        
  
        output_path = '/Users/dejmen/desktop/ironhack/week4/first_project/data/processed/charts_2021.csv'
        df_2021.to_csv(output_path, index=False)
        print(f"\nSaved to: {output_path}")
        
    except Exception as e:
        print("\nError during processing:", str(e))
        print("\nSample date values:", df['date'].head().tolist())

Date column type before conversion: object

Filtered successfully!
Rows in 2021 data: 5703536

First few rows:

,title,rank,date,artist,url,region,chart,trend,streams
63293,Stay Gold,68,2021-07-01,BTS,https://open.spotify.com/track/3Ys2PYl1wyPKQIw...,Japan,top200,MOVE_DOWN,54393.0
69327,Close Eyes,39,2021-10-12,DVRST,https://open.spotify.com/track/3CLSHJv5aUROAN2...,Global,viral50,SAME_POSITION,NaN
71618,París,27,2021-09-10,Ingratax,https://open.spotify.com/track/4bF2y8rR7GUjrd5...,Spain,viral50,SAME_POSITION,NaN
71725,Duvet,44,2021-09-10,bôa,https://open.spotify.com/track/7urtwZEtOypb3r8...,Turkey,viral50,MOVE_UP,NaN
478448,Poblado - Remix,104,2021-10-15,"J Balvin, KAROL G, Nicky Jam, Crissin, Totoy E...",https://open.spotify.com/track/2K1CQMoG2Dy5nme...,Spain,top200,MOVE_DOWN,69591.0

Error during processing: Cannot save file into a non-existent directory: '/Users/dejmen/desktop/ironhack/week4/first_project/data/processed'

Sample date values: [Timestamp('2017-01-01 00:00:00'), Timestamp('2017-01-01 00:00:00'), Timestamp('2017-01-01 00:00:00'), Timestamp('2017-01-01 00:00:00'), Timestamp('2017-01-01 00:00:00')]

In [15]:
print(f"Number of rows: {df_2021.shape[0]}, Number of columns: {df_2021.shape[1]}")

Number of rows: 5703536, Number of columns: 9

In [3]:
european_regions = [
    'Albania', 'Andorra', 'Austria', 'Belarus', 'Belgium', 
    'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus',
    'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France',
    'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Italy',
    'Latvia', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Malta',
    'Moldova', 'Monaco', 'Montenegro', 'Netherlands', 'North Macedonia',
    'Norway', 'Poland', 'Portugal', 'Romania', 'Russia', 'San Marino',
    'Serbia', 'Slovakia', 'Slovenia', 'Spain', 'Sweden', 'Switzerland',
    'Turkey', 'Ukraine', 'United Kingdom'
]
european_regions = [region.lower() for region in european_regions]

europe_df = df[df['region'].str.lower().isin(european_regions)]

print(f"Original rows: {len(df)}")
print(f"European rows: {len(europe_df)}")
print("\nSample European data:")
display(europe_df.head())

Original rows: 26173514
European rows: 11171393

Sample European data:

,title,rank,date,artist,url,region,chart,trend,streams
402,Alone,1,2017-01-01,Alan Walker,https://open.spotify.com/track/0JiVRyTJcJnmlwC...,Austria,top200,MOVE_UP,12990.0
403,Rockabye (feat. Sean Paul & Anne-Marie),2,2017-01-01,Clean Bandit,https://open.spotify.com/track/5knuzwU65gJK7IF...,Austria,top200,MOVE_DOWN,12897.0
404,Chöre,3,2017-01-01,Mark Forster,https://open.spotify.com/track/2nYpbaLykC2cjU8...,Austria,top200,MOVE_UP,10852.0
405,Bad Ideas,4,2017-01-01,Alle Farben,https://open.spotify.com/track/76gwG061wqdatYh...,Austria,top200,MOVE_DOWN,10837.0
406,Closer,5,2017-01-01,"The Chainsmokers, Halsey",https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,Austria,top200,SAME_POSITION,10317.0